

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.textBody{
	font-family: 'Shadows Into Light', cursive;
	font-size: 36px;
}

.textPrimario{
	font-family: 'Pacifico', cursive;
}
.separador{
	height: 70px;
	width: 100%;
	background-color: #F7F389;
	padding-top: 1px;
}
.tituloSeparador{
	font-family: 'Kalam', cursive;
	font-size: 70px;
}
body{
	text-align: justify;
	padding-top: 50px;
    padding-bottom: 20px;
}
.redes{
	display:scroll;
	position:fixed;
	bottom:185px;
	right:0px;
}
.multimedia{
	background-color: #e6e6e6;
}
.fin7{
	background-color:#339966;
}
.footear{
	background-color: black;
	color:white;
}
.activo{
	color: white;
}









